.draw-area {
  width: 280px;
  height: 280px;
  border: 2px solid #808080;
  background-color: white;
}

.draw-area:hover {
  cursor: crosshair;
  /* cursor: url('path/pencil-cursor.png'), auto; TODO: Replace with pencil image */
}
